# Ignora particular file.
debug.py
dataset.py
pretext.py
classification.py

# Ignore all extensions.
*.csv
*.ipynb
*.log
*.npy
*.pt
*.pth
*.xlsx

# Ignore directory
data/
logs/
practice/
__pycache__/
save/
temp/
temp_checkpoints/
temp_log/
test_result/
wandb/
