# Ignora particular file(s).
classification.py
debug.py
dataset.py
pretext.py
temp.py

# Ignore all extensions.
*.csv
*.ipynb
*.log
*.npy
*.png
*.pt
*.pth
*.xlsx

# Ignore directory
checkpoints/
classification_dataset/
data/
log/
plad_base_code/
plots/
practice/
__pycache__/
save/
temp/
temp_checkpoints/
temp_classification/
temp_log/
test_result/
wandb/
